body {
    padding: 0px; 
    background-image:url('image/DreamShaper_v5_Sport_car_benz_bmw_porsche_2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:Arial, Helvetica, sans-serif ;
}
.aside {
   width: 400px;
   height: 870px;
   margin-left: 250px;
   padding: 20px;
   background-color: rgba(255, 255, 255, 0.8);
   position: absolute;

}
h2 {
    margin-top: 200px;
}
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 5px;
}

.form-group button {
    padding: 5px 10px;
    background-color:blue ;
    color: aliceblue;

}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}

.logo {
    width: 100%;
}

.dropdownlist {
    width: 150px;
}

.header-right {
    display: flex;
    align-items: center;
}

.selectType {
    background: #003d79;
    color: #fafafa;
    margin: 15px;
    width: 300px;
    height: 3em;
    padding: 8px;
    position: relative;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(#003d79, #003d79);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -webkit-linear-gradient(#003d79, #003d79);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -moz-linear-gradient(#003d79, #003d79);
    background-position: right 0.5em top 50%, 0 0;
    background-size: contain, cover;
    background-repeat: no-repeat, repeat;
  }
